
  li {
    border-right: 1px solid black;
    padding: 10px;
    list-style-type: none;
    display: inline-block;
  }

  li:hover {
    background: lightgray;
  }

  .wrapperDetails {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(150, 150, 150, 0.3);
  }

